Repository 2011guptashalini/urban-gardner-0jnan2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @security-team, @frontend-team, @qa-team, @backend-team, @ai-team, @devops-team, @database-team

.github/CODEOWNERS:

# Global owners - required for all changes
* @tech-leads @security-team

# Frontend ownership
/src/web/ @frontend-team @tech-leads
*.ts @frontend-team
*.tsx @frontend-team
*.test.tsx @qa-team @frontend-team

# Backend ownership
/src/backend/ @backend-team @tech-leads
*.go @backend-team
*_test.go @qa-team @backend-team

# Service-specific ownership
/src/backend/internal/ai/ @ai-team @backend-team @security-team
/src/backend/internal/calculator/ @backend-team @tech-leads
/src/backend/internal/cropmanager/ @backend-team @tech-leads
/src/backend/internal/scheduler/ @backend-team @tech-leads

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team
*.tf @devops-team @security-team
*.yaml @devops-team

# Database
*.sql @database-team @backend-team @security-team

# Documentation
/docs/ @tech-leads @backend-team @frontend-team

# Security-sensitive areas
/.github/ @security-team @tech-leads
/src/backend/internal/auth/ @security-team @backend-team
/src/backend/internal/crypto/ @security-team @backend-team

# Configuration files
*.config.js @tech-leads @frontend-team
*.config.ts @tech-leads @frontend-team
*.json @tech-leads

# Build and deployment scripts
/scripts/ @devops-team @tech-leads
*.sh @devops-team @tech-leads

# Test files and fixtures
/test/ @qa-team
/fixtures/ @qa-team
/mocks/ @qa-team

# API definitions
/api/ @backend-team @frontend-team @tech-leads
*.proto @backend-team @tech-leads

# Dependencies
package.json @frontend-team @tech-leads
go.mod @backend-team @tech-leads
go.sum @backend-team @tech-leads

# CI/CD
/.github/workflows/ @devops-team @security-team
/.github/actions/ @devops-team @security-team

# Environment configurations
*.env.* @security-team @devops-team
/config/ @security-team @devops-team

Add public-samples/urban-gardner-0jnan2/src/web/.env.example
  src/web/.env.example
Owners: @security-team, @devops-team

Add public-samples/urban-gardner-0jnan2/src/web/.eslintignore
  src/web/.eslintignore
Owners: @frontend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @tech-leads

Add public-samples/urban-gardner-0jnan2/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @tech-leads, @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/package.json
  src/web/package.json
Owners: @frontend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @tech-leads

Add public-samples/urban-gardner-0jnan2/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @tech-leads, @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @tech-leads

Add public-samples/urban-gardner-0jnan2/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/api/axios.ts
  src/web/src/api/axios.ts
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/api/crops.ts
  src/web/src/api/crops.ts
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/api/garden.ts
  src/web/src/api/garden.ts
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/api/maintenance.ts
  src/web/src/api/maintenance.ts
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/api/user.ts
  src/web/src/api/user.ts
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Button/Button.styles.ts
  src/web/src/components/common/Button/Button.styles.ts
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Button/Button.test.tsx
  src/web/src/components/common/Button/Button.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Button/Button.tsx
  src/web/src/components/common/Button/Button.tsx
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Card/Card.styles.ts
  src/web/src/components/common/Card/Card.styles.ts
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Card/Card.test.tsx
  src/web/src/components/common/Card/Card.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Card/Card.tsx
  src/web/src/components/common/Card/Card.tsx
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Dropdown/Dropdown.styles.ts
  src/web/src/components/common/Dropdown/Dropdown.styles.ts
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Dropdown/Dropdown.test.tsx
  src/web/src/components/common/Dropdown/Dropdown.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Dropdown/Dropdown.tsx
  src/web/src/components/common/Dropdown/Dropdown.tsx
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Input/Input.styles.ts
  src/web/src/components/common/Input/Input.styles.ts
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Input/Input.test.tsx
  src/web/src/components/common/Input/Input.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Input/Input.tsx
  src/web/src/components/common/Input/Input.tsx
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Modal/Modal.styles.ts
  src/web/src/components/common/Modal/Modal.styles.ts
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Modal/Modal.test.tsx
  src/web/src/components/common/Modal/Modal.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Modal/Modal.tsx
  src/web/src/components/common/Modal/Modal.tsx
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Tooltip/Tooltip.styles.ts
  src/web/src/components/common/Tooltip/Tooltip.styles.ts
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Tooltip/Tooltip.test.tsx
  src/web/src/components/common/Tooltip/Tooltip.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/common/Tooltip/Tooltip.tsx
  src/web/src/components/common/Tooltip/Tooltip.tsx
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/crops/CropForm/CropForm.styles.ts
  src/web/src/components/crops/CropForm/CropForm.styles.ts
Owners: @frontend-team

Add public-samples/urban-gardner-0jnan2/src/web/src/components/crops/CropForm/CropForm.test.tsx
  src/web/src/components/crops/CropForm/CropForm.test.tsx
Owners: @qa-team, @frontend-team
