Repository 2011guptashalini/urban-gardner-0jnan2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @security-team, @frontend-team, @qa-team, @backend-team, @ai-team, @devops-team, @database-team

.github/CODEOWNERS:

# Global owners - required for all changes
* @tech-leads @security-team

# Frontend ownership
/src/web/ @frontend-team @tech-leads
*.ts @frontend-team
*.tsx @frontend-team
*.test.tsx @qa-team @frontend-team

# Backend ownership
/src/backend/ @backend-team @tech-leads
*.go @backend-team
*_test.go @qa-team @backend-team

# Service-specific ownership
/src/backend/internal/ai/ @ai-team @backend-team @security-team
/src/backend/internal/calculator/ @backend-team @tech-leads
/src/backend/internal/cropmanager/ @backend-team @tech-leads
/src/backend/internal/scheduler/ @backend-team @tech-leads

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team
*.tf @devops-team @security-team
*.yaml @devops-team

# Database
*.sql @database-team @backend-team @security-team

# Documentation
/docs/ @tech-leads @backend-team @frontend-team

# Security-sensitive areas
/.github/ @security-team @tech-leads
/src/backend/internal/auth/ @security-team @backend-team
/src/backend/internal/crypto/ @security-team @backend-team

# Configuration files
*.config.js @tech-leads @frontend-team
*.config.ts @tech-leads @frontend-team
*.json @tech-leads

# Build and deployment scripts
/scripts/ @devops-team @tech-leads
*.sh @devops-team @tech-leads

# Test files and fixtures
/test/ @qa-team
/fixtures/ @qa-team
/mocks/ @qa-team

# API definitions
/api/ @backend-team @frontend-team @tech-leads
*.proto @backend-team @tech-leads

# Dependencies
package.json @frontend-team @tech-leads
go.mod @backend-team @tech-leads
go.sum @backend-team @tech-leads

# CI/CD
/.github/workflows/ @devops-team @security-team
/.github/actions/ @devops-team @security-team

# Environment configurations
*.env.* @security-team @devops-team
/config/ @security-team @devops-team

Add public-samples/urban-gardner-0jnan2/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @security-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @security-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @security-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/.github/workflows/frontend.yml
  .github/workflows/frontend.yml
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/.github/workflows/infrastructure.yml
  .github/workflows/infrastructure.yml
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @tech-leads, @security-team

Add public-samples/urban-gardner-0jnan2/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @tech-leads, @security-team

Add public-samples/urban-gardner-0jnan2/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @tech-leads, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/backend/configmap.yaml
  infrastructure/kubernetes/backend/configmap.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/backend/deployment.yaml
  infrastructure/kubernetes/backend/deployment.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/backend/ingress.yaml
  infrastructure/kubernetes/backend/ingress.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/backend/secret.yaml
  infrastructure/kubernetes/backend/secret.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/backend/service.yaml
  infrastructure/kubernetes/backend/service.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/cert-manager/certificate.yaml
  infrastructure/kubernetes/cert-manager/certificate.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/cert-manager/issuer.yaml
  infrastructure/kubernetes/cert-manager/issuer.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/frontend/configmap.yaml
  infrastructure/kubernetes/frontend/configmap.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/frontend/deployment.yaml
  infrastructure/kubernetes/frontend/deployment.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/frontend/ingress.yaml
  infrastructure/kubernetes/frontend/ingress.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/frontend/service.yaml
  infrastructure/kubernetes/frontend/service.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/monitoring/alertmanager.yaml
  infrastructure/kubernetes/monitoring/alertmanager.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/monitoring/dashboards-configmap.yaml
  infrastructure/kubernetes/monitoring/dashboards-configmap.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/monitoring/grafana.yaml
  infrastructure/kubernetes/monitoring/grafana.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/monitoring/prometheus.yaml
  infrastructure/kubernetes/monitoring/prometheus.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/monitoring/servicemonitor.yaml
  infrastructure/kubernetes/monitoring/servicemonitor.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/redis/configmap.yaml
  infrastructure/kubernetes/redis/configmap.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/redis/service.yaml
  infrastructure/kubernetes/redis/service.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/kubernetes/redis/statefulset.yaml
  infrastructure/kubernetes/redis/statefulset.yaml
Owners: @devops-team

Add public-samples/urban-gardner-0jnan2/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/infrastructure/scripts/monitoring-setup.sh
  infrastructure/scripts/monitoring-setup.sh
Owners: @devops-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/infrastructure/scripts/rollback.sh
  infrastructure/scripts/rollback.sh
Owners: @devops-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/infrastructure/scripts/ssl-setup.sh
  infrastructure/scripts/ssl-setup.sh
Owners: @devops-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/provider.tf
  infrastructure/terraform/provider.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team, @security-team
