Repository 2011guptashalini/urban-gardner-0jnan2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @security-team, @frontend-team, @qa-team, @backend-team, @ai-team, @devops-team, @database-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @devops-team, @security-team

Add public-samples/urban-gardner-0jnan2/src/backend/.air.toml
  src/backend/.air.toml
Owners: @backend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/.env.example
  src/backend/.env.example
Owners: @security-team, @devops-team

Add public-samples/urban-gardner-0jnan2/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/Makefile
  src/backend/Makefile
Owners: @backend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/api/gateway/main.go
  src/backend/api/gateway/main.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/api/gateway/middleware/auth.go
  src/backend/api/gateway/middleware/auth.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/api/gateway/middleware/cors.go
  src/backend/api/gateway/middleware/cors.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/api/gateway/middleware/logger.go
  src/backend/api/gateway/middleware/logger.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/api/gateway/middleware/ratelimit.go
  src/backend/api/gateway/middleware/ratelimit.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/api/gateway/routes/crops.go
  src/backend/api/gateway/routes/crops.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/api/gateway/routes/garden.go
  src/backend/api/gateway/routes/garden.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/api/gateway/routes/health.go
  src/backend/api/gateway/routes/health.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/api/gateway/routes/maintenance.go
  src/backend/api/gateway/routes/maintenance.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/api/gateway/routes/user.go
  src/backend/api/gateway/routes/user.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/cmd/calculator/main.go
  src/backend/cmd/calculator/main.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/cmd/cropmanager/main.go
  src/backend/cmd/cropmanager/main.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/cmd/scheduler/main.go
  src/backend/cmd/scheduler/main.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/config/config.go
  src/backend/config/config.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/config/database.go
  src/backend/config/database.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/config/redis.go
  src/backend/config/redis.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/db/migrations/000001_create_users_table.down.sql
  src/backend/db/migrations/000001_create_users_table.down.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/urban-gardner-0jnan2/src/backend/db/migrations/000001_create_users_table.up.sql
  src/backend/db/migrations/000001_create_users_table.up.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/urban-gardner-0jnan2/src/backend/db/migrations/000002_create_gardens_table.down.sql
  src/backend/db/migrations/000002_create_gardens_table.down.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/urban-gardner-0jnan2/src/backend/db/migrations/000002_create_gardens_table.up.sql
  src/backend/db/migrations/000002_create_gardens_table.up.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/urban-gardner-0jnan2/src/backend/db/migrations/000003_create_crops_table.down.sql
  src/backend/db/migrations/000003_create_crops_table.down.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/urban-gardner-0jnan2/src/backend/db/migrations/000003_create_crops_table.up.sql
  src/backend/db/migrations/000003_create_crops_table.up.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/urban-gardner-0jnan2/src/backend/db/migrations/000004_create_maintenance_table.down.sql
  src/backend/db/migrations/000004_create_maintenance_table.down.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/urban-gardner-0jnan2/src/backend/db/migrations/000004_create_maintenance_table.up.sql
  src/backend/db/migrations/000004_create_maintenance_table.up.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/urban-gardner-0jnan2/src/backend/internal/ai/client.go
  src/backend/internal/ai/client.go
Owners: @ai-team, @backend-team, @security-team

.github/CODEOWNERS:

# Global owners - required for all changes
* @tech-leads @security-team

# Frontend ownership
/src/web/ @frontend-team @tech-leads
*.ts @frontend-team
*.tsx @frontend-team
*.test.tsx @qa-team @frontend-team

# Backend ownership
/src/backend/ @backend-team @tech-leads
*.go @backend-team
*_test.go @qa-team @backend-team

# Service-specific ownership
/src/backend/internal/ai/ @ai-team @backend-team @security-team
/src/backend/internal/calculator/ @backend-team @tech-leads
/src/backend/internal/cropmanager/ @backend-team @tech-leads
/src/backend/internal/scheduler/ @backend-team @tech-leads

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team
*.tf @devops-team @security-team
*.yaml @devops-team

# Database
*.sql @database-team @backend-team @security-team

# Documentation
/docs/ @tech-leads @backend-team @frontend-team

# Security-sensitive areas
/.github/ @security-team @tech-leads
/src/backend/internal/auth/ @security-team @backend-team
/src/backend/internal/crypto/ @security-team @backend-team

# Configuration files
*.config.js @tech-leads @frontend-team
*.config.ts @tech-leads @frontend-team
*.json @tech-leads

# Build and deployment scripts
/scripts/ @devops-team @tech-leads
*.sh @devops-team @tech-leads

# Test files and fixtures
/test/ @qa-team
/fixtures/ @qa-team
/mocks/ @qa-team

# API definitions
/api/ @backend-team @frontend-team @tech-leads
*.proto @backend-team @tech-leads

# Dependencies
package.json @frontend-team @tech-leads
go.mod @backend-team @tech-leads
go.sum @backend-team @tech-leads

# CI/CD
/.github/workflows/ @devops-team @security-team
/.github/actions/ @devops-team @security-team

# Environment configurations
*.env.* @security-team @devops-team
/config/ @security-team @devops-team
