Repository 2011guptashalini/urban-gardner-0jnan2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @security-team, @frontend-team, @qa-team, @backend-team, @ai-team, @devops-team, @database-team

.github/CODEOWNERS:

# Global owners - required for all changes
* @tech-leads @security-team

# Frontend ownership
/src/web/ @frontend-team @tech-leads
*.ts @frontend-team
*.tsx @frontend-team
*.test.tsx @qa-team @frontend-team

# Backend ownership
/src/backend/ @backend-team @tech-leads
*.go @backend-team
*_test.go @qa-team @backend-team

# Service-specific ownership
/src/backend/internal/ai/ @ai-team @backend-team @security-team
/src/backend/internal/calculator/ @backend-team @tech-leads
/src/backend/internal/cropmanager/ @backend-team @tech-leads
/src/backend/internal/scheduler/ @backend-team @tech-leads

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team
*.tf @devops-team @security-team
*.yaml @devops-team

# Database
*.sql @database-team @backend-team @security-team

# Documentation
/docs/ @tech-leads @backend-team @frontend-team

# Security-sensitive areas
/.github/ @security-team @tech-leads
/src/backend/internal/auth/ @security-team @backend-team
/src/backend/internal/crypto/ @security-team @backend-team

# Configuration files
*.config.js @tech-leads @frontend-team
*.config.ts @tech-leads @frontend-team
*.json @tech-leads

# Build and deployment scripts
/scripts/ @devops-team @tech-leads
*.sh @devops-team @tech-leads

# Test files and fixtures
/test/ @qa-team
/fixtures/ @qa-team
/mocks/ @qa-team

# API definitions
/api/ @backend-team @frontend-team @tech-leads
*.proto @backend-team @tech-leads

# Dependencies
package.json @frontend-team @tech-leads
go.mod @backend-team @tech-leads
go.sum @backend-team @tech-leads

# CI/CD
/.github/workflows/ @devops-team @security-team
/.github/actions/ @devops-team @security-team

# Environment configurations
*.env.* @security-team @devops-team
/config/ @security-team @devops-team

Add public-samples/urban-gardner-0jnan2/src/backend/internal/ai/recommendations.go
  src/backend/internal/ai/recommendations.go
Owners: @ai-team, @backend-team, @security-team

Add public-samples/urban-gardner-0jnan2/src/backend/internal/calculator/service.go
  src/backend/internal/calculator/service.go
Owners: @backend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/internal/calculator/space.go
  src/backend/internal/calculator/space.go
Owners: @backend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/internal/calculator/validation.go
  src/backend/internal/calculator/validation.go
Owners: @backend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/internal/cropmanager/crops.go
  src/backend/internal/cropmanager/crops.go
Owners: @backend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/internal/cropmanager/service.go
  src/backend/internal/cropmanager/service.go
Owners: @backend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/internal/cropmanager/yields.go
  src/backend/internal/cropmanager/yields.go
Owners: @backend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/internal/models/crop.go
  src/backend/internal/models/crop.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/internal/models/garden.go
  src/backend/internal/models/garden.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/internal/models/maintenance.go
  src/backend/internal/models/maintenance.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/internal/models/user.go
  src/backend/internal/models/user.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/internal/scheduler/maintenance.go
  src/backend/internal/scheduler/maintenance.go
Owners: @backend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/internal/scheduler/notifications.go
  src/backend/internal/scheduler/notifications.go
Owners: @backend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/internal/scheduler/service.go
  src/backend/internal/scheduler/service.go
Owners: @backend-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/internal/utils/auth/jwt.go
  src/backend/internal/utils/auth/jwt.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/internal/utils/cache/redis.go
  src/backend/internal/utils/cache/redis.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/internal/utils/database/postgres.go
  src/backend/internal/utils/database/postgres.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/internal/utils/errors/errors.go
  src/backend/internal/utils/errors/errors.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/internal/utils/logger/logger.go
  src/backend/internal/utils/logger/logger.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/internal/utils/validator/validator.go
  src/backend/internal/utils/validator/validator.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/pkg/constants/errors.go
  src/backend/pkg/constants/errors.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/pkg/constants/garden.go
  src/backend/pkg/constants/garden.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/pkg/dto/crop.go
  src/backend/pkg/dto/crop.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/pkg/dto/garden.go
  src/backend/pkg/dto/garden.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/pkg/dto/maintenance.go
  src/backend/pkg/dto/maintenance.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/pkg/dto/user.go
  src/backend/pkg/dto/user.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/pkg/types/common.go
  src/backend/pkg/types/common.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/pkg/types/config.go
  src/backend/pkg/types/config.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/scripts/migrate.sh
  src/backend/scripts/migrate.sh
Owners: @devops-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/scripts/setup.sh
  src/backend/scripts/setup.sh
Owners: @devops-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/scripts/test.sh
  src/backend/scripts/test.sh
Owners: @devops-team, @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/test/calculator/calculator_test.go
  src/backend/test/calculator/calculator_test.go
Owners: @qa-team, @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/test/cropmanager/cropmanager_test.go
  src/backend/test/cropmanager/cropmanager_test.go
Owners: @qa-team, @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/test/integration/api_test.go
  src/backend/test/integration/api_test.go
Owners: @qa-team, @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/test/mocks/ai_client.go
  src/backend/test/mocks/ai_client.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/test/mocks/database.go
  src/backend/test/mocks/database.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/test/scheduler/scheduler_test.go
  src/backend/test/scheduler/scheduler_test.go
Owners: @qa-team, @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/tools/swagger/swagger.go
  src/backend/tools/swagger/swagger.go
Owners: @backend-team

Add public-samples/urban-gardner-0jnan2/src/backend/tools/swagger/swagger.json
  src/backend/tools/swagger/swagger.json
Owners: @tech-leads

Add public-samples/urban-gardner-0jnan2/src/backend/tools/swagger/swagger.yaml
  src/backend/tools/swagger/swagger.yaml
Owners: @devops-team
